body {
    width: 100%;
    margin: 20px auto;
    /* background: #d9a7c7;   */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);   */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #fffcdc, #d9a7c7);  */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #EEF8FF;
    font-family: 'Comfortaa', cursive;
    /* font-size: 18px; */
  }

.user {
  width: 100vw;
  height: auto;
  display: inline-block;
}

.user-name {
    margin-top: 50%;
    margin-bottom: auto;
    margin-left: 28%;
    margin-right: auto;
    z-index: 50;
    position: absolute;
    width: 50%;
    height: 10%;
    font-size: 15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  /* color: pink; */
  font-size: 20px;
  text-size-adjust: auto;
}

#logged-name {
  margin-top: 50%;
  margin-bottom: auto;
  margin-left: 22%;
  margin-right: auto;
  z-index: 50;
  position: absolute;
  font-size: 200%;
}


/* #username-form{
  width: 30%;
} */

#routine-title {
    margin-top: 50%;
    margin-bottom: auto;
    margin-left: 22%;
    margin-right: auto;
    z-index: 1;
    position: absolute;
    font-size: 200%;
}

  .stage {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20px;
    perspective: 1200px;
    perspective-origin: 50% 50%;
  }
  .stage#login {
    margin: 10% 33%;
  }

  .routine-area {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  section.stage:not(#login) {
    padding-left: 10%;
    padding-right: auto;
    padding-top: 3%;
    padding-bottom: auto;
    height: auto;
  }
  

/* PLAY WITH MARGIN BELOW!!!! */
  .new-routine-container{
    margin-left: 33vw;
  }

  /* STYLING THE WINDOWS - MAKE IT BIGGER OR WHATEVER YOU WANT */
  .new-routine-container select {
    background-color: #fdeff9;
  }

  .new-routine-container select:hover {
    background-color: #ffafbd;
    width: 15vw;
    height: 3vh;
    border: 2px solid black;
    border-radius: none;
    transform: scale(1.5);
    /* transform: rotate(120deg); */
    transition-duration: 0.5s;
  }

  /* STYLING THE SUBMIT BUTTON  */
  .new-routine-container input{
    background-color: #ffafbd;
    width: 15vw;
    height: 3vh;
    border: 2px solid black;
  }

  /* NEW ROUTINE BUTTON */
  #new-routine-btn{
    margin-left: 38vw;
    background-color: #FFAFBD;
  }

  #new-routine-btn:hover{
    margin-left: 38vw;
    transform: scale(1.5); 
    transition-duration: 0.5s;
    /* transform: rotate(120deg); */
  }

  span#routine-title {
    font-size: 35px;
    text-align: center;
  }

  span#routine-title:hover {
    font-size: 35px;
    text-align: center;
    transform: scale(1.5);
    transition-duration: 0.5s;
    /* transform: rotate(120deg); */
  }

  /* .orb:hover{
    -webkit-animation-name: pulse 5s;
    animation-name: pulse 5s;
  } */

  .orb {
    display: inline-block;
    width: 30vw;
    height: 30vw;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
  }

  .orb:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%,  rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 30vw;
    width: 27vw;
    -webkit-filter: blur(5px);
    /* z-index: 2; */
  }

  /* .red{

  }

  .blue{
    background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
  } */

  /* .orb:after {
    width: 20vw;
    height: 20vh;
    content: "";
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%,  rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    -webkit-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    -moz-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    -ms-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    -o-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    -webkit-filter: blur(10px);
  } */
  
  .orb .shadow {
    position: absolute;
    width: 30vw;
    height: 30vw;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-150px);
    -moz-transform: rotateX(90deg) translateZ(-150px);
    -ms-transform: rotateX(90deg) translateZ(-150px);
    -o-transform: rotateX(90deg) translateZ(-150px);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
  }


  /* Outside Modal is a future modal div */
  .modal{
    width: 35vw;
    margin-top: 1vh;
  }

  /* Modal Header */
.modal-header {
  padding: 2px 16px;
  /* background-color: #f681ae; */
  background: #FFAFBD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

li button#edit{
  background-color: #29ffc6;
}
li button#delete{
  background-color:#ff4b1f;
}
/* 
li.modal-body {
} */

ul {
  padding-inline-start: 20px;
  font-size: 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  /* background-color: #f681ae; */
  background: #FFAFBD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 120%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* task part */
li.item {
  margin: 10px 5px 5px 5px;
}
/* .item { 
  transition: transform .05s ease-in-out;
   backface-visibility: hidden;
} */

/* .item label {
  position: relative;
} */
/* .item label::after {
  position: absolute;
  content: "";
  width: calc(100% + 6px);
  height: 5px;
  top: 50%;
  left: -3px;
  border-radius: 50%;
  background: red;
  mix-blend-mode: multiply;
  transform: scale(0, 1);
  transform-origin: center center;
  transition: transform 0s .5s, opacity .5s, border-radius 0s .5s;
  opacity: 0;
} */

.done {
  transform: rotateX(360deg);
  text-decoration: line-through;
}

input[type=checkbox]:checked {
  color:red;
  text-decoration: line-through;
}

.done input::after {
  border-radius: 5px;
  display: block;
  transform: none;
  transform-origin: left center;
  transition: transform 1s, opacity .5s, border-radius 1s;
  opacity: 1;
}

.emphasize{
  background-color: chocolate;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* Start Animation for Delete Orbs */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  20% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  60% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  70% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  80% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  90% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  20% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  60% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  70% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  80% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  90% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
} 

.animated {
  -webkit-animation-duration: 1.9s;
  animation-duration: 1.9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* End Animation for Delete Orbs */



  